.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 165, 165);
    height: 40px;
    font-size: 18px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer__links__single {
    margin-left: 20px;
}