.cart-counter {
    font-size: 18px;
    width: 24px;
    height: 24px;
    line-height: 22px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: rgb(241, 241, 144);
    position: absolute;
    top: 8px;
    left: 28px;
    text-align: center;
}